.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: rgb(161, 124, 204);
}

h1 {
  margin: 30px;
  font-family: 'MerriWeather', Regular 400;
  text-shadow: 2px 0 #436086;
  font-size: 8rem;
  color: rgb(0,0,67);
}

p {
  font-size: 2rem;
  color: rgb(0,0,67);
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
 
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
